@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PT Sans.woff2") format('woff2'),
    url("../fonts/PT Sans.woff") format("woff"),
    url("../fonts/PT Sans.ttf") format("ttf");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  src: url("../fonts/PT Sans Bold.woff2") format('woff2'),
    url("../fonts/PT Sans Bold.woff") format("woff"),
    url("../fonts/PT Sans Bold.ttf") format("ttf");
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

body {
  font-family: Cuprum, Tahoma, sans-serif;
  font-kerning: none;
}

a {
  text-decoration: none;
}

.mainHeader {
  background-color: #f4f7f9;
  min-height: 320px;
}

.mainOrder {
  background-color: #293449;
}

.headLogo {
  display: block;
  width: 220px;
  padding: 12px 0 12px 2px;
  text-align: center;
  box-shadow: 0 5px 0 0 #b52933;
  background-color: #ee3643;
}

.catalogSorting {
  background-color: #f7f3ec;
}

.tatliSorting {
  font: 13px/1.38 "PT Sans", Tahoma, sans-serif;
  color: #000000;
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 11px 19px 13px 19px;
  width: 120px;
  text-transform: uppercase;
}

.sortingType a {
  font: 13px/1.38 "PT Sans", Tahoma, sans-serif;
  color: rgba(0, 0, 0, 0.3);
}

.pagination a {
  font: 13px/1.38 "PT Sans", Tahoma, sans-serif;
  text-align: center;
  color: #000000;
}

.pagination a:hover,
.pagination a:active {
  font: 13px/1.38 "PT Sans", Tahoma, sans-serif;
  text-align: center;
  color: #ffffff;
}

.popupBasketForm {
  display: none;
  width: 620px;
  min-height: 282px;
  border-top: 7px solid #ee3643;
  box-shadow: 0px 20px 40px 0 rgba(41, 52, 73, 0.75);
  background-color: #ffffff;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 100;
}

.mainPopularGoods {
  position: relative;
}

.popupBasketFormOpen {
  display: block;
}

.basketForm {
  display: block;
  width: 336px;
  font-size: 30px;
  line-height: 1;
  text-align: center;
  color: #000000;
  margin: 65px 0 70px 170px;
}

.buttonsForm {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 112px;
  background-color: #f1f1f1;
  padding: 37px 0 37px 0;
}

.buttonsForm a {
  display: block;
  box-sizing: border-box;
  width: 220px;
  height: 38px;
  background-color: #ee3643;
  padding: 11px 0 13px 0;
  border-radius: 3px;
  margin: 0 10px 0 0;
}

.buttonsForm a:hover {
  background-color: #ca2c37;
}

.buttonsForm a:active {
  background-color: #ba2732;
}

.popupBasketForm a {
  width: 220px;
  background-color: #ee3643;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #ffffff;
}

.basketButton {
  box-sizing: border-box;
  border: 0;
  width: 220px;
  background-color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #000000;
  padding: 12px 0 12px 0;
  margin: 0 0 0 10px;
}

.mainDefinitionProduct {
  margin: 60px 0 0 0;
  background-color: #f4f7f9;
}

.tatleDefinition {
  display: block;
  margin: 0;
  padding: 65px 0 0 0;
  font-weight: 400;
  font-size: 30px;
  line-height: 1;
  color: #000000;
}

.definitionProduct {
  font-family: "PT Sans", Tahoma, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.85;
  color: #000000;
  margin: 25px 0 0 0;
  padding: 0 0 71px 0;
}

.definitionProduct p {
  display: block;
  margin: 0;
  width: 940px;
}

.mainFooterAddress {
  font-size: 18px;
  line-height: 1.33;
  color: #f1f5f7;
}

.placeOrder {
  display: block;
  width: 150px;
  font-size: 17px;
  line-height: 1.06;
  color: #ffffff;
  background-color: #63a63e;
  text-align: center;
  padding: 12px 0 12px 0;
}

.placeOrder:hover {
  background-color: #5fbb2d;
}

.placeOrder:active {
  background-color: #518534;
}

.mainOpening {
  background-color: #f4f7f9;
}

.titleOpening {
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.44;
  color: #ee3643;
  width: 200px;
  margin: 0 67px 0 0;
  padding: 2px 0 0 0;
}

.headAddress {
  font-size: 14px;
  line-height: 1.71;
  color: #32425c;
}

.mainRegistration a {
  font-size: 21px;
  line-height: 1;
  color: #000000;
}

.profile {
  font-size: 21px;
  line-height: 1;
  color: #000000;
  display: block;
  position: relative;
  box-sizing: border-box;
  width: 299px;
  padding: 10px 65px 12px 47px;
  background-color: #ffffff;
  margin: 0 0 0 51px;
}

.profile::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 18px;
  background: url("../img/icon/icon-user.svg") no-repeat;
  top: 13px;
  left: 13px;
  opacity: 0.3;
}

.profile:hover::before {
  opacity: 1;
}

.profile::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 17px;
  background: url("../img/icon/icon-logout.svg") no-repeat;
  bottom: 14px;
  right: 10px;
  opacity: 0.3;
}

.profile:hover::after {
  opacity: 1;
}

.profile:active {
  opacity: 0.3;
}

.personalAccount {
  display: flex;
  padding: 0;
  margin: 9px 0 0 68px;
  list-style: none;
}

.personalAccount a {
  font-size: 16px;
  line-height: 1.13;
  color: #32425c;
  text-decoration: underline;
}

.personalAccount a:hover {
  color: #ee3643;
}

.personalAccount a:active {
  color: rgba(50, 66, 92, 0.3)
}

.breadcrumbs a {
  font: 13px/1.38 "PT Sans", Tahoma, sans-serif;
  color: #000000;
  text-transform: uppercase;
}

.breadcrumbs li {
  position: relative;
}

.breadcrumbs li:not(:first-child) {
  display: flex;
  align-items: center;
}

.breadcrumbs li:not(:first-child)::before {
  content: "";
  width: 8px;
  height: 12px;
  margin: 0 16px;
  background: url("../img/icon/icon-right-small.svg") no-repeat;
}

.mainNav {
  box-shadow: inset 0px -5px 0 0 #293449;
  background-color: #32425c;
}

.mainNav a {
  font-size: 17px;
  line-height: 1;
  color: #ffffff;
}

.titleServises {
  font-size: 24px;
  line-height: 1.25;
  color: #ffffff;
}

.titleMainFilter {
  display: block;
  font: 13px/1.38 "PT Sans", Tahoma, sans-serif;
  color: #000000;
  background-color: #f7f3ec;
  display: block;
  box-sizing: border-box;
  width: 220px;
  min-height: 38px;
  padding: 10px 0 0 18px;
  text-transform: uppercase;
  margin: 0 20px 0 0;
}

.titleFilterMaker,
.titlePrice,
.titlepowerSupply {
  font: 17px/1.76 "PT Sans", Tahoma, sans-serif;
  font-weight: 700;
  display: block;
  box-sizing: border-box;
  padding: 0;
  margin: 10px 0 15px 0;
  width: 220px;
  color: #000000;
}

.titleFilterMaker {
  margin: 20px 0 12px 0;
}

.titlepowerSupply {
  margin: 20px 0 13px 0;
}

.allMaker,
.allPowerSupply {
  font: 15px/1.33 "PT Sans", Tahoma, sans-serif;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  list-style: none;
}

.allMaker {
  padding: 0 0 2px 0;
  border-bottom: 1px #e5e5e5 solid;
}

.allMaker input,
.allPowerSupply input {
  display: none;
}

.allMaker label,
.allPowerSupply label {
  cursor: pointer;
}

.formCheckbox+label::before {
  content: "";
  position: absolute;
  background: url("../img/icon/checkbox-off.svg") no-repeat;
  width: 27px;
  height: 23px;
  top: 0;
  left: 0px;
  opacity: 0.2;
}

.formCheckbox+label:hover::before {
  opacity: 0.3;
}

.formCheckbox:checked+label::before {
  content: "";
  position: absolute;
  background: url("../img/icon/checkbox-on.svg") no-repeat;
  width: 27px;
  height: 23px;
  top: 0;
  left: 0px;
  opacity: 0.2;
}

.formCheckbox:checked:not(:disabled)+label:hover::before {
  opacity: 0.3;
}

.formCheckbox:disabled+label::before {
  content: "";
  position: absolute;
  background: url("../img/icon/checkbox-on.svg") no-repeat;
  width: 27px;
  height: 23px;
  top: 0;
  left: 0px;
  opacity: 0.1;
}

.formRadio+label::before {
  content: "";
  position: absolute;
  background: url("../img/icon/radio-off.svg") no-repeat;
  width: 25px;
  height: 25px;
  top: 0;
  left: 0px;
  opacity: 0.2;
}

.formRadio+label:hover::before {
  opacity: 0.3;
}

.formRadio:checked+label::before {
  content: "";
  position: absolute;
  background: url("../img/icon/radio-on.svg") no-repeat;
  width: 25px;
  height: 25px;
  top: 0;
  left: 0;
  opacity: 0.2;
}

.formRadio:checked:not(:disabled)+label:hover::before {
  opacity: 0.3;
}

.formRadio:disabled+label::before {
  content: "";
  position: absolute;
  background: url("../img/icon/radio-on.svg") no-repeat;
  width: 25px;
  height: 25px;
  top: 0;
  left: 0;
  opacity: 0.1;
}

.allMaker li:not(:first-child) {
  margin: 0 0 21px 0;
  padding: 0 0 0 35px;
  position: relative;
}

.allPowerSupply li {
  margin: 0 0 19px 0;
  padding: 0 0 0 35px;
  position: relative;
}

.allMaker li:first-child {
  margin: 0 0 20px 0;
  padding: 0 0 0 35px;
  position: relative;
}

.buttonFilter {
  font: 13px/1.38 "PTSans", Tahoma, sans-serif;
  text-align: center;
  color: #000000;
  width: 140px;
  background-color: #ffffff;
  padding: 11px 0 11px 0;
  border: 1px solid #e5e5e5;
  text-transform: uppercase;
}

.linkServises {
  font-size: 14px;
  line-height: 1.29;
  color: #ffffff;
}

.material {
  background-color: #ffbf47;
}

.material::before {
  content: "";
  position: absolute;
  background: url("../img/icon/material.svg") no-repeat;
  width: 44px;
  height: 65px;
  top: 31px;
  right: 43px;
}

.tools {
  background-color: #3bbce3;
}

.tools::before {
  content: "";
  position: absolute;
  background: url("../img/icon/tools.svg") no-repeat;
  width: 75px;
  height: 61px;
  top: 33px;
  right: 28px;
}

.technique {
  background-color: #dc91d8;
}

.technique::before {
  content: "";
  position: absolute;
  background: url("../img/icon/technique.svg") no-repeat;
  width: 78px;
  height: 62px;
  top: 31px;
  right: 31px;
}

.listServices .discount {
  background-color: #8ed78f;
  margin-left: 640px;
  margin-right: 0;
  margin-top: -266px;
}

.discount::before {
  content: "";
  position: absolute;
  background: url("../img/icon/discount.svg") no-repeat;
  width: 59px;
  height: 72px;
  top: 26px;
  right: 45px;
}

.listServices li {
  position: relative;
}

.listServices .listDelivery {
  background-color: #ffbf47;
  margin-left: 640px;
  margin-top: -123px;
}

.listDelivery::before {
  content: "";
  position: absolute;
  background: url("../img/icon/delivery.svg") no-repeat;
  width: 78px;
  height: 63px;
  top: 32px;
  right: 31px;
}

.popular {
  background-color: #f9f5f0;
}

.sliderTitle {
  display: block;
  font-weight: 700;
  font-size: 36px;
  line-height: 1;
  color: #ffffff;
  width: 240px;
  margin: 0;
  padding: 23px 0 0 24px;
  text-transform: uppercase;
}

.sliderText {
  display: block;
  font-size: 18px;
  line-height: 1.33;
  color: #ffffff;
  margin: 0;
  padding: 0 0 0 24px;
  width: 250px;
}

.titlePopular {
  font-weight: 400;
  font-size: 30px;
  line-height: 1;
  color: #32425c;
}

.popularGoods,
.popularMaker {
  display: block;
  box-sizing: border-box;
  text-align: center;
  width: 253px;
  min-height: 38px;
  margin: 0;
  padding: 10px 10px 9px 10px;
  border-radius: 3px;
  font-size: 14px;
  line-height: 1.29;
  background-color: #ee3643;
  color: #ffffff;
}

.priceTitle {
  font: 700 18px/1.11 "PT Sans", Tahoma, sans-serif;
  color: #000000;
}

.priceList img {
  width: 218px;
  height: 170px;
  margin: 0 0 5px 0
}

.priceTitle a {
  display: block;
  width: 160px;
  color: inherit;
  margin: 0;
}

.oldPrice {
  width: 100%;
  display: block;
  font: 700 17px/1.06 "PT Sans", Tahoma, sans-serif;
  text-align: center;
  color: #a9a9a9;
  padding: 0 0 0 2px;
  margin: 12px 0 8px 0;
}

.price {
  display: block;
  align-items: center;
  font: 700 17px/1.06 "PT Sans", Tahoma, sans-serif;
  text-align: center;
  padding: 10px 34px 10px 34px;
  color: #ffffff;
  background-color: #ee3643;
  position: relative;
  border-radius: 3px;
  margin: 0 0 0 3px;
  height: 38px;
}

.price::after {
  content: "";
  border-style: solid;
  border-width: 19px 0 19px 19px;
  border-color: #ffffff #ffffff #ffffff #ee3643;
  position: absolute;
  top: 0px;
  right: -4px;
}

.notOld {
  margin: 40px 0 0 3px;
}

.buyPopup {
  display: block;
  position: relative;
  font-size: 14px;
  line-height: 1.29;
  box-shadow: inset 0px -3px 0 0 #367315;
  background-color: #63a63e;
  border-radius: 3px;
  text-transform: uppercase;
  color: #ffffff;
  width: 135px;
  margin: 0 0 7px 0;
  padding: 10px 0 10px 0;
}

.buyPopup:hover {
  background-color: #5fbb2d;
}

.buyPopup:active {
  background-color: #518534;
}

.buyPopup::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: url("../img/icon/icon-basket.png") no-repeat;
  top: 11px;
  left: 12px;
  opacity: 0.3;
}

.buyPopup:hover::before {
  opacity: 1;
}

.basketPopup {
  display: block;
  font-size: 14px;
  line-height: 1.29;
  background-color: #ffffff;
  color: #32425c;
  border: 3px solid #63a63e;
  border-radius: 3px;
  text-transform: uppercase;
  width: 135px;
  padding: 7px 0 7px 0;
}

.basketPopup:hover {
  border: solid 3px #32425c;
}

.basketPopup:active {
  opacity: 0.3;
  border: solid 3px #32425c;
}

.service {
  background-color: #f4f7f9;
  padding: 66px 0 0 0;
  height: 522px;
}

.titleGood {
  font-weight: 400;
  font-size: 30px;
  line-height: 1;
  color: #000000;
  padding: 0;
  margin: 0 0 25px 0;
}

.goodServises p {
  font: 13px/1.85 "PT Sans", Tahoma, sans-serif;
  color: #000000;
  margin: 0;
  padding: 0 0 0 0;
}

.mainDeliveryControl {
  display: block;
  flex-grow: 2;
  list-style: none;
  margin: 70px 0 0 0;
  padding: 0;
  position: relative;
  width: 250px;
  height: 186px;
  background-color: #32425c;
  font-weight: 700;
  font-size: 21px;
  line-height: 1.43;
  color: #ffffff;
  position: relative;
  list-style: none;
}

.titleDelivery {
  display: block;
  font-size: 36px;
  line-height: 1;
  color: #32425c;
}

.descrDelivery,
.descrGuarantee,
.descrLoan {
  font: 13px/1.85 "PT Sans", Tahoma, sans-serif;
  color: #000000;
}

.company {
  background-color: #ffffff;
}

.titleCompany {
  font-size: 30px;
  line-height: 1;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}

.listCompany {
  font-size: 18px;
  line-height: 1.11;
  color: #000000;
  list-style: none;
}

.infoCompany {
  background-color: #ee3643;
  font-size: 14px;
  line-height: 1.29;
  color: #ffffff;
}

.titleContact {
  font-size: 30px;
  line-height: 1;
  font-weight: 400;
  color: #000000;
}

.footerContact {
  font: 13px/1.85 "PT Sans", Tahoma, sans-serif;
  color: #000000;
}

.writeToUs {
  font-size: 14px;
  line-height: 1.29;
  color: #ffffff;
  background-color: #ee3643;
}

.footerLogo {
  display: block;
  width: 220px;
  min-height: 68px;
  padding: 20px 0 12px 0;
  text-align: center;
  box-shadow: 0 5px 0 0 #b52933;
  background-color: #ee3643;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
}

.mainFooteraddress {
  font-size: 18px;
  line-height: 1.33;
  color: #f3f7f9;
}

.footerNumber {
  font-size: 18px;
  line-height: 1.33;
  color: #f3f7f9;
}

.navListFooter a {
  font-size: 18px;
  line-height: 1.33;
  color: #f3f7f9;
}

.otherNavListFooter a {
  font-size: 18px;
  line-height: 1.33;
  color: #ffd180;
}

.legalInformation {
  margin: 37px 0 0 0;
}

.legalInformation p {
  display: block;
  width: 230px;
  font-size: 16px;
  line-height: 1.13;
  color: #ffffff;
  margin: 0;
}

.mainFooterSocial {
  margin: 29px 0 0 0;
}

.social {
  display: block;
  background-color: #212a3a;
  position: relative;
  border-radius: 50%;
  width: 41px;
  height: 42px;
}

.social:hover,
.social:active {
  background-color: #ee3643;
}

.linkMail p {
  font-size: 16px;
  line-height: 1.13;
  color: #ffffff;
}

.linkMail a {
  font-size: 16px;
  line-height: 1.13;
  color: #ffd180;
}

.popupContact {
  display: none;
  position: absolute;
  width: 620px;
  height: 423px;
  background-color: #ffffff;
  border-top: 7px solid #ee3643;
  box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
  bottom: -17%;
  left: 17%;
  z-index: 10000;
}

.popupContactOpen {
  display: block;
  background-color: #ffffff;
}

.mainMessage {
  display: flex;
  flex-wrap: wrap;
  font-size: 18px;
  line-height: 1;
  color: #000000;
  padding: 0 10px;
  margin: 45px 0 0 70px;
}

.mainMessage input {
  width: 220px;
  height: 38px;
  padding: 0 16px 5px 14px;
  border: solid 2px #dee3e4;
  background-color: #ffffff;
  border-radius: 3px;
  outline: none;
}

.mainMessage label {
  display: block;
  width: 220px;
  margin: 0 0 11px 0;
}

.mainMessage label:last-child {
  margin: 0 0 0 0;
}

.mainMessage fieldset {
  display: block;
  border: none;
  padding: 0;
}

.mainMessage textarea {
  width: 460px;
  height: 114px;
  margin: 8px 0 0 0;
  padding: 11px 16px 0 14px;
  border: solid 2px #dee3e4;
  background-color: #ffffff;
  border-radius: 3px;
  outline: none;
  resize: none
}

.mainMessage input::-webkit-input-placeholder {
  font: 13px/1.38 "PT Sans", Tahoma, sans-serif;
  color: #a9a9a9;
}

.mainMessage input::-moz-placeholder {
  font: 13px/1.38 "PT Sans", Tahoma, sans-serif;
  color: #a9a9a9;
}

.mainMessage input:-moz-placeholder {
  font: 13px/1.38 "PT Sans", Tahoma, sans-serif;
  color: #a9a9a9;
}

.mainMessage input:-ms-input-placeholder {
  font: 13px/1.38 "PT Sans", Tahoma, sans-serif;
  color: #a9a9a9;
}

.mainMessage input::-ms-input-placeholder {
  font: 13px/1.38 "PT Sans", Tahoma, sans-serif;
  color: #a9a9a9;
}

.mainMessage input {
  font: 13px/1.38 "PT Sans", Tahoma, sans-serif;
  color: #a9a9a9;
}

.mainMessage textarea::-webkit-input-placeholder {
  font: 13px/1.38 "PT Sans", Tahoma, sans-serif;
  color: #a9a9a9;
}

.mainMessage textarea::-moz-placeholder {
  font: 13px/1.38 "PT Sans", Tahoma, sans-serif;
  color: #a9a9a9;
}

.mainMessage textarea:-moz-placeholder {
  font: 13px/1.38 "PT Sans", Tahoma, sans-serif;
  color: #a9a9a9;
}

.mainMessage textarea::-moz-placeholder {
  font: 13px/1.38 "PT Sans", Tahoma, sans-serif;
  color: #a9a9a9;
}

.mainMessage textarea:-ms-input-placeholder {
  font: 13px/1.38 "PT Sans", Tahoma, sans-serif;
  color: #a9a9a9;
}

.mainMessage textarea {
  font: 13px/1.38 "PT Sans", Tahoma, sans-serif;
  color: #a9a9a9;
}

.mainMessage input:hover,
.mainMessage textarea:hover {
  border: solid 2px #b5b5b5;
}

.mainMessage input:focus,
.mainMessage textarea:focus {
  border: solid 2px #ee3643;
}

.popupClose {
  content: "";
  position: absolute;
  width: 21px;
  height: 21px;
  top: 9px;
  right: 9px;
  border: none;
  padding: 0;
  font-size: 0;
  z-index: 101;
}

.popupClose::after {
  content: "";
  position: absolute;
  width: 21px;
  height: 21px;
  background: url("../img/icon/icon-close.svg") no-repeat;
  top: 0;
  right: 0;
  z-index: 10;
  cursor: pointer;
}

.popupClose:hover::after {
  opacity: 0.4;
}

.mainMessage .nameMessage {
  margin: 0 19px 19px 0;
}

.mainFormSend {
  background-color: #f4f4f4;
  width: 100%;
  margin: 35px 0 0 0;
}

.formSend {
  background-color: #ee3643;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #ffffff;
  width: 460px;
  height: 38px;
  background-color: #ee3643;
  border: none;
  border-radius: 3px;
  margin: 36px 80px 33px 80px;
  text-transform: uppercase;
}

.formSend:hover {
  background-color: #ca2c37;
}

.formSend:active {
  background-color: #ba2732;
}

.wrap {
  width: 960px;
  padding: 0 10px;
  margin: 0 auto;
}

.mainOrderWrap {
  display: flex;
  align-items: center;
}

.headSearch {
  width: 270px;
}

.headSearch label {
  display: block;
}

.headSearch input {
  display: block;
  width: 100%;
  border: 0;
  padding: 12px 10px 12px 49px;
  font-size: 17px;
  line-height: 1.06;
  background: transparent;
  z-index: 10;
  outline: none;
}

.headSearch {
  position: relative;
}

.headSearch input::-webkit-input-placeholder {
  color: #ffffff;
}

.headSearch input::-moz-placeholder {
  color: #ffffff;
}

.headSearch input:-moz-placeholder {
  color: #ffffff;
}

.headSearch input:-ms-input-placeholder {
  color: #ffffff;
}

.headSearch input::-ms-input-placeholder {
  color: #ffffff;
}

.headSearch input {
  color: #ffffff;
}

.headSearch input:focus::-webkit-input-placeholder {
  color: #000000;
}

.headSearch input:focus::-moz-placeholder {
  color: #000000;
}

.headSearch input:focus:-moz-placeholder {
  color: #000000;
}

.headSearch input:focus:-ms-input-placeholder {
  color: #000000;
}

.headSearch input:focus::-ms-input-placeholder {
  color: #000000;
}

.headSearch input:focus {
  color: #000000;
}

.headSearch input:hover {
  background-color: #212a3a;
}

.headSearch input:hover~label::before {
  opacity: 1;
}

.headSearch input:focus~label::before {
  background: url("../img/icon/icon-search-red.svg") no-repeat;
  opacity: 1;
}

.headSearch input:focus {
  background-color: #ffffff;
}

.headSearch label::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background: url("../img/icon/icon-search.svg") no-repeat;
  top: 12px;
  left: 17px;
  opacity: 0.3;
}

.placeOrder,
.basket,
.bookmark {
  font-size: 17px;
  line-height: 1.06;
  color: #ffffff;
}

.bookmark,
.basket {
  position: relative;
}

.bookmark {
  display: block;
  width: 150px;
  height: ;
  text-align: center;
  padding: 12px 0 12px 19px;
}

.bookmark::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 16px;
  background: url("../img/icon/icon-bookmark.png") no-repeat;
  top: 11px;
  left: 18px;
  opacity: 0.3;
}

.bookmark:hover::before,
.basket:hover::before {
  opacity: 1;
}

.basket {
  display: block;
  width: 150px;
  text-align: center;
  padding: 12px 0 12px 20px;
}

.basket::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: url("../img/icon/icon-basket.png") no-repeat;
  top: 11px;
  left: 18px;
  opacity: 0.3;
}

.mainOpening {
  display: flex;
  padding: 46px 0 41px 53px;
}

.addressHeader {
  width: 270px;
  font-style: normal;
}

.headNumber {
  display: block;
  position: relative;
  border: 3px solid #fff;
  padding: 9px 10px 9px 71px;
  margin: 0 0 3px;
  font-size: 21px;
  line-height: 1;
  color: #ee3643;
}

.headNumber::before {
  content: "";
  position: absolute;
  width: 19px;
  height: 19px;
  background: url("../img/icon/icon-phone.svg") no-repeat;
  top: 12px;
  left: 14px;
}

.headAddress {
  text-align: center;
  margin: 0;
}

.mainRegistration {
  margin-left: auto;
  min-width: 300px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.mainRegistration a:hover {
  color: #ee3643;
}

.mainRegistration a:active {
  color: rgba(0, 0, 0, 0.3);
}

.enter {
  background: #fff;
  position: relative;
  padding: 12px 10px 12px 34px;
  min-width: 121px;
  text-align: center;
  margin-right: 10px;
}

.enter::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 17px;
  background: url("../img/icon/icon-login.svg") no-repeat;
  top: 14px;
  left: 14px;
  opacity: 0.3;
}

.enter:hover::before {
  opacity: 1;
}

.registration {
  background: #fff;
  padding: 12px 10px;
  min-width: 150px;
  text-align: center;
}

.mainNav {
  width: 940px;
  min-width: 60px;
}

.nav {
  display: flex;
  min-height: 60px;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav a {
  display: block;
}

.nav a:hover {
  background-color: #293449;
}

.nav a:active {
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.5);
}

.oneNav a {
  padding: 20px 34px 23px 52px;
  width: 138px;
}

.twoNav a {
  padding: 20px 31px 23px 31px;
  width: 127px;
}

.threeNav a {
  width: 111px;
  padding: 20px 29px 23px 30px;
}

.fourNav a {
  width: 111px;
  padding: 20px 29px 23px 30px;
}

.fiveNav a {
  width: 182px;
  padding: 20px 30px 23px 31px;
}

.sixNav a {
  width: 123px;
  padding: 20px 32px 23px 31px;
}

.sevenNav a {
  width: 148px;
  padding: 20px 55px 23px 32px;
}

.listServices {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  padding: 0;
  margin: 59px 0 11px 0;
  height: 450px;
  list-style: none;
}

.listTesh {
  width: 300px;
  min-height: 123px;
  margin: 0 20px 20px 0;
}

.listTesh:nth-child(3n) {
  margin-right: 0;
}

.titleServises {
  margin: 20px 0 0 22px;
}

.linkServises {
  display: block;
  box-sizing: border-box;
  text-align: center;
  text-transform: uppercase;
  width: 135px;
  padding: 9px 0 10px 0;
  margin: 13px 0 0 25px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.1);
}

.linkServises:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.linkServises:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.servicesSlider {
  width: 620px;
  height: 266px;
  margin: 0 20px 0 0;
}

.popular, .mainPopularMake {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 940px;
  min-height: 89px;
  text-transform: uppercase;
  margin: 0;
  padding: 24px 24px 25px 30px;
}

.titlePopular {
  padding: 0;
  margin: 0;
}

.pricePopup {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 4px;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  width: 217px;
  height: 157px;
}

.priceList {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 20px -10px 0 -10px;
  padding: 0;
  list-style: none;
}

.newProduct::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 59px;
  background: url("../img/catalog/new-flag.png") no-repeat;
  right: 0;
  top: 0;
}

.priceList li {
  display: flex;
  flex-wrap: wrap;
  /*flex-direction: column;*/
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  width: 220px;
  min-height: 318px;
  min-height: 318px;
  border: 1px solid #eaeaea;
  margin: 0 10px 20px 10px;
  padding: 0 5px 21px 5px;
}

.priceList li:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.productPrice, .priceTitle {
  padding: 0;
  margin: 0;
}

.productMap:hover .pricePopup {
  display: flex;
}

.makerBlok {
  display: flex;
  flex-wrap: wrap;
  width: 940px;
  padding: 0;
  margin: 20px 0 66px 0;
  list-style: none;
}

.makerList {
  width: 220px;
  min-height: 145px;
  border: 1px solid #eaeaea;
  margin: 0 20px 20px 0;
}

.makerList a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.makerList:nth-child(4n+4) {
  margin: 0 0 20px 0;
  padding: 0 0 10px 0;
}

.makerList:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.makerList:active {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
  opacity: 0.3;
}

.mainFooter {
  min-height: 193px;
  background-color: #32425c;
}

.footerWrap {
  display: flex;
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.logoAddres {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
}

.mainFooteraddress {
  margin: 28px 0 0 0;
  padding: 0 0 0 2px;
  font-style: normal;
}

.mainNavFooter {
  display: flex;
  flex-direction: column;
  margin: 37px 0 0 39px;
}

.addressFooter {
  width: 350px;
  margin: 0;
}

.navListFooter, .otherNavListFooter {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.otherNavListFooter {
  margin: 35px 0 0 23px;
}

.navListFooter li, .otherNavListFooter li {
  margin: 0 60px 0 0;
}

.navListFooter li:last-child {
  margin: 0;
}

.otherNavListFooter li:last-child {
  margin: 0;
}

.footerInformation {
  background-color: #293449;
}

.footerInformationWrap {
  display: flex;
  align-items: flex-start;
  width: 960px;
  margin: 0 auto;
  padding: 0 10px 0 10px;
  min-height: 107px;
}

.footerSocial {
  display: flex;
  padding: 0;
  margin: 7px 0 0 160px;
  list-style: none;
}

.footerSocial li {
  margin: 0 5px 0 0;
}

.vk a::before {
  content: "";
  position: absolute;
  background: url("../img/icon/icon-vk.svg") no-repeat;
  width: 26px;
  height: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.facebook a::before {
  content: "";
  position: absolute;
  background: url("../img/icon/icon-fb.svg") no-repeat;
  width: 12px;
  height: 22px;
  top: 10px;
  left: 14px;
}

.instagram a::before {
  content: "";
  position: absolute;
  background: url("../img/icon/icon-insta.svg") no-repeat;
  width: 21px;
  height: 21px;
  top: 11px;
  left: 8px;
}

.linkMail p {
  margin: 0;
  width: 135px;
  margin-right: 53px;
}

.linkMail p:last-child {
  margin: 0;
  width: 100px;
}

.linkMail {
  display: flex;
  margin-left: 101px;
  margin-top: 37px;
  padding-left: 10px;
}

.company {
  display: flex;
  position: relative;
  min-height: 536px;
  margin: 0;
  padding: 0;
}

.mainCompany {
  width: 579px;
  min-height: 293px;
  margin-right: 61px;
}

.mainFooterPopup {
  display: none;
  width: 940px;
  height: 446.2px;
  position: absolute;
  top: -48%;
  right: 0;
}

.footerPopup {
  width: 100%;
  height: 100%;
}

.mainFooterPopupOpen {
  display: block;
}

.infoCompany {
  display: block;
  box-sizing: border-box;
  text-align: center;
  margin: 0 0 86px 0;
  padding: 11px 0 9px 0;
  width: 220px;
  min-height: 38px;
  border-radius: 3px;
}

.titleCompany, .titleContact {
  margin: 79px 0 25px 0;
}

.descrCompany p {
  font: 13px/1.85 "PT Sans", Tahoma, sans-serif;
  color: #000000;
  width: 579px;
  margin: 0 0 23px 0;
}

.descrCompany p:first-child {
  letter-spacing: 0.01em;
  margin: 0 0 25px 0;
}

.descrCompany p:nth-child(2) {
  margin: 0;
}

.listCompany {
  margin: 0;
  padding: 0;
}

.listCompany li {
  margin: 0 0 21px 0;
  position: relative;
  padding: 0 0 0 35px;
}

.listCompany li:last-child {
  margin: 0 0 35px 0;
}

.listCompany li::before {
  content: "";
  width: 25px;
  border-bottom: 2px solid #ee3643;
  position: absolute;
  left: 0;
  top: 8px;
}

.mainfooterContact {
  position: relative;
}

.contact {
  width: 300px;
  min-height: 121px;
}

.footerContact {
  display: block;
  margin: 0 0 32px 0;
  padding: 0 100px 0 0;
  width: 300px;
}

.writeToUs {
  display: block;
  box-sizing: border-box;
  text-align: center;
  margin: 0 0 86px 0;
  padding: 11px 0 9px 3px;
  width: 300px;
  min-height: 38px;
  border-radius: 3px;
}

.ourLocation img {
  display: block;
  margin: 0 0 41px 0;
}

.writeToUs:hover,
.infoCompany:hover,
.headLogo:hover,
.footerLogo:hover,
.popularGoods:hover,
.popularMaker:hover {
  background-color: #ca2c37;
}

.writeToUs:active,
.infoCompany:active,
.headLogo:active,
.footerLogo:active,
.popularGoods:active,
.popularMaker:active {
  background-color: #ba2732;
}

.mainNavFooter a:hover {
  text-decoration: underline;
}

.navListFooter a:active {
  color: rgba(241, 245, 247, 0.5);
}

.otherNavListFooter a:active {
  color: rgba(255, 209, 128, 0.5);
}

.linkMail a:hover {
  text-decoration: underline;
}

.linkMail a:active {
  color: #ee3643;
}

.breadcrumbs {
  display: flex;
  padding: 0;
  margin: 20px 0 20px 0;
  list-style: none;
}

.breadHome {
  padding: 3px 0 0 0;
}

.breadTool {
  padding: 0;
}

.breadPerforator {
  padding: 0;
}

.smalRight {
  padding: 3px 0 0 0;
  margin: 0 15px 0 15px;
}

.titleNameItem {
  font-size: 30px;
  line-height: 1;
  font-weight: 400;
  color: #32425c;
  background-color: #f2f6f8;
  display: block;
  box-sizing: border-box;
  padding: 25px 0 34px 27px;
  margin: 25px 0 0 0;
  text-transform: uppercase;
}

.sortingType {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 11px 0 13px 0;
  text-transform: uppercase;
  list-style: none;
}

.sortingUp {
  display: flex;
  margin: 0;
  padding: 0;
  position: relative;
  width: 43px;
}

.sortingUp a:not([href]) {
  content: "";
  width: 11px;
  height: 10px;
  position: absolute;
  background: url("../img/icon/icon-up-red.svg") no-repeat;
  top: -5px;
  left: 45px;
}

.up::before {
  content: "";
  width: 11px;
  height: 10px;
  position: absolute;
  background: url("../img/icon/icon-up.svg") no-repeat;
  top: -5px;
  left: 45px;
}

.down::before {
  content: "";
  width: 11px;
  height: 10px;
  position: absolute;
  background: url("../img/icon/icon-down.svg") no-repeat;
  top: -5px;
  right: -45px;
  opacity: 0.2;
}

.down:hover::before,
.up:hover::before {
  opacity: 1;
}

.catalogSorting {
  display: flex;
  align-items: center;
  width: 700px;
}

.titleCatalog {
  display: flex;
  margin: 15px 0 -2px 0;
  padding: 0;
}

.priceSort {
  padding: 0 0 0 120px;
}

.sortingType a:not([href]) {
  color: #ee3643;
  opacity: 1;
  border: none;
}

.sortingType a:not([href]):hover {
  color: #ee3643;
  opacity: 1;
  border: none;
}

.typeSort {
  padding: 0 0 0 71px;
}

.sortingType a {
  border-bottom: 1px dashed #ee3643;
  opacity: 0.3;
  color: #000000;
}

.functSort {
  padding: 0 0 0 65px;
}

.sortingType a:hover {
  border-bottom: 1px solid #ee3643;
  opacity: 1;
}

.formSlider {
  width: 220px;
  height: 152px;
}

.powerSupply {
  margin: 0 0 79px 0;
}

.catalogWrapContent {
  display: flex;
  flex-wrap: wrap;
  width: 700px;
}

.listWare {
  display: flex;
}

.mainSort {
  margin: 0 20px 0 0;
}

.pagination {
  display: flex;
  margin: 31px 0 0 1px;
  padding: 0;
  list-style: none;
}

.pagination a {
  display: block;
  width: 38px;
  height: 38px;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 10px 0 0 0;
  margin: 0 10px 0 0;
  border-radius: 3px;
}

.pagination a:not([href]) {
  background-color: #ee3643;
  color: #ffffff;
}

.pagination a:hover:not([href]) {
  color: #ffffff;
}

.pagination a:hover {
  border: solid 1px #bdc6ca;
  color: #000000;
}

.pagination a:active {
  border: solid 1px #ee3643;
  color: #000000;
}

.paginationNext a {
  width: 140px
}

.popupBasketForm::before {
  content: "";
  width: 66px;
  height: 66px;
  position: absolute;
  background: url("../img/icon/form-check.svg") no-repeat;
  top: 50px;
  left: 81px;
}

.circle {
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #32425c;
  margin: 8px 15px 0 15px;
}

.colorBasket {
  background-color: #ee3643;
}

.filterItem {
  margin: 0;
  padding: 0 0 25px 0;
  border: 0;
  width: 220px;
  border-bottom: 1px #e5e5e5 solid;
}

.rangeFilter {
  width: 220px;
  margin: 0 0 0 0;
  padding: 0;
}

.rangeControls {
  width: 220px;
  height: 80px;
  background-color: #f7f3ec;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 39px 20px 0 20px;
  position: relative;
}

.scale {
  height: 2px;
  background: #d7dcde;
}

.bar {
  width: 85%;
  height: 2px;
  background: #00ca74;
}

.toggle {
  width: 20px;
  height: 20px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  position: absolute;
  top: 31px;
  left: 0;
  cursor: pointer;
}

.toggleMin {
  left: 18px;
}

.toggleMax {
  left: 160px;
}

.priceControls {
  position: relative;
}

.priceControls::before {
  content: "";
  height: 1px;
  width: 10px;
  background: #444444;
  position: absolute;
  top: 50%;
  left: 48%;
}

.priceControls input {
  width: 95px;
  padding: 9px 7px 11px 13px;
  border: none;
  border-radius: 5px;
  background: #f7f3ec;
}

.priceControls input {
  text-align: center;
}

.maxPrice input {
  margin: 0 0 0 25px;
}

.sliderItem {
  display: none;
  position: relative;
  width: 620px;
  height: 266px;
  color: #ffffff;
}

.sliderItem:nth-child(1) {
  background: url("../img/icon/slide1.jpg") no-repeat;
}

.sliderItem:nth-child(2) {
  background: url("../img/icon/slide2.jpg") no-repeat;
}

.slider {
  position: relative;
  width: 620px;
  height: 266px;
}

.sliderList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.button {
  display: block;
  width: 195px;
  padding: 11px 0 9px 5px;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
  position: absolute;
  bottom: 23px;
  left: 25px
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.slider input {
  display: none;
}

.sliderBtns label {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50%;
  vertical-align: top;
  cursor: pointer;
}

.sliderBtns {
  width: 160px;
  height: 10px;
  margin: 0 0 0 -80px;
  position: absolute;
  bottom: 36px;
  left: 50%;
  z-index: 1;
  text-align: center;
}

.slider #slider1_1:checked~.sliderBtns label[for="slider1_1"],
.slider #slider1_2:checked~.sliderBtns label[for="slider1_2"] {
  background: #ee3643;
}

#slider1_1:checked~.sliderList .sliderItem:nth-child(1) {
  display: block;
}

#slider1_2:checked~.sliderList .sliderItem:nth-child(2) {
  display: block;
}

.сontrolBtnLeft::after {
  content: "";
  position: absolute;
  background: url("../img/icon/icon-left.svg") no-repeat;
  width: 22px;
  height: 40px;
  top: 42%;
  left: 25px;
  cursor: pointer;
}

.controlBtnRight::after {
  content: "";
  position: absolute;
  background: url("../img/icon/icon-right.svg") no-repeat;
  width: 22px;
  height: 40px;
  top: 42%;
  right: 21px;
  cursor: pointer;
}

.mainDelivery input {
  display: none;
}

.mainDeliveryControl::after {
  content: "";
  height: 279px;
  width: 10px;
  margin: -136px 0 0 0;
  background: url("../img/icon/shadowLabel.png") no-repeat;
  position: absolute;
  top: 50%;
  right: 0px;
}

.mainDeliveryControl label {
  display: block;
  width: 240px;
  padding: 13px 0 18px 22px;
  border-top: #405069 solid 1px;
  border-bottom: #293449 solid 1px;
  font: 700 21px/2.81;
  background: #32425c;
  color: #ffffff;
  cursor: pointer;
}

.mainDeliveryControl label[for="guarantee"] {
  padding: 11px 0 18px 22px;
}

.mainDeliveryControl label:hover:not(:checked) {
  background: #293449;
}

#delivery:checked~.mainDeliveryControl label[for="delivery"],
#guarantee:checked~.mainDeliveryControl label[for="guarantee"],
#loan:checked~.mainDeliveryControl label[for="loan"] {
  background: #fff;
  border-color: #fff;
  color: #32425c;
}

.mainDescrDelivery {
  display: none;
  position: relative;
  width: 628px;
  height: 261px;
  margin: 0 0 0 80px;
}

.mainDescrDelivery h2 {
  margin: 67px 0 24px 0;
  padding: 0 0 0 0;
  font-weight: 400;
  text-transform: uppercase;
}

.descrDelivery p {
  display: block;
  width: 280px;
  margin: 0;
  padding: 0;
}

.descrDelivery p:nth-child(2) {
  padding: 0 70px 0 0;
}

.descrGuarantee p {
  width: 379px;
  margin: 0;
  padding: 0;
}

.descrLoan p {
  width: 340px;
  margin: 0;
  padding: 0;
}

.infoDelivery {
  padding: 0;
}

#delivery:checked~.infoDelivery .mainDescrDelivery:nth-child(1) {
  display: block;
}

#guarantee:checked~.infoDelivery .mainDescrDelivery:nth-child(2) {
  display: block;
}

#loan:checked~.infoDelivery .mainDescrDelivery:nth-child(3) {
  display: block;
}

.mainDescrDelivery:nth-child(1)::after {
  content: "";
  background: url("../img/icon/dewer.png") no-repeat;
  position: absolute;
  right: 9px;
  top: 25px;
  width: 468px;
  height: 100%;
}

.mainDescrDelivery:nth-child(2)::after {
  content: "";
  background: url("../img/icon/guarant.png") no-repeat;
  position: absolute;
  right: 9px;
  top: 25px;
  width: 389px;
  height: 100%;
}

.mainDescrDelivery:nth-child(3)::after {
  content: "";
  background: url("../img/icon/loan.png") no-repeat;
  position: absolute;
  right: 9px;
  top: 25px;
  width: 465px;
  height: 100%;
}

.loanForm {
  display: block;
  padding: 12px 0;
  background: #ff5357;
  border-radius: 3px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  width: 195px;
  margin: 43px 0 0 0;
}

.loanForm:hover {
  background: #ca2c37;
}

.loanForm:active {
  background: #ba2732;
}

.mainDelivery {
  display: flex;
  align-items: адflex-start;
  padding: 0;
}
